# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
fonts/lcd.ttf
fonts/materialdesignicons-webfont.ttf
fonts/Roboto-Black.ttf
fonts/Roboto-BlackItalic.ttf
fonts/Roboto-Bold.ttf
fonts/Roboto-BoldItalic.ttf
fonts/Roboto-Italic.ttf
fonts/Roboto-Light.ttf
fonts/Roboto-LightItalic.ttf
fonts/Roboto-Medium.ttf
fonts/Roboto-MediumItalic.ttf
fonts/Roboto-Regular.ttf
fonts/Roboto-Thin.ttf
fonts/Roboto-ThinItalic.ttf
images/05.jpg
images/alpha_layer.png
images/black.png
images/blue.png
images/firebase-logo.png
images/folder.png
images/green.png
images/quad_shadow-0.png
images/quad_shadow-1.png
images/quad_shadow-2.png
images/quad_shadow.atlas
images/rec_shadow-0.png
images/rec_shadow-1.png
images/rec_shadow.atlas
images/rec_st_shadow-0.png
images/rec_st_shadow-1.png
images/rec_st_shadow-2.png
images/rec_st_shadow.atlas
images/red.png
images/round_shadow-0.png
images/round_shadow-1.png
images/round_shadow-2.png
images/round_shadow.atlas
images/transparent.png
images/yellow.png
kitchen_sink/.gitignore
kitchen_sink/LICENSE
kitchen_sink/main.py
kitchen_sink/README.md
kitchen_sink/screens_data.json
kitchen_sink/.idea/kitchen_sink.iml
kitchen_sink/.idea/modules.xml
kitchen_sink/assets/about-us.png
kitchen_sink/assets/african-lion-951778_1280.png
kitchen_sink/assets/andre-rodriges.png
kitchen_sink/assets/artemsbulgakov.png
kitchen_sink/assets/avatar.png
kitchen_sink/assets/back.png
kitchen_sink/assets/beautiful-931152_1280.png
kitchen_sink/assets/blur.jpg
kitchen_sink/assets/camera.png
kitchen_sink/assets/cloud-upload.png
kitchen_sink/assets/drawer_logo.png
kitchen_sink/assets/events.png
kitchen_sink/assets/facebook-box.png
kitchen_sink/assets/facebook-flat-round.png
kitchen_sink/assets/facebook-round.png
kitchen_sink/assets/facebook.png
kitchen_sink/assets/google-flat-round.png
kitchen_sink/assets/gradient.png
kitchen_sink/assets/guitar-1139397_1280.png
kitchen_sink/assets/heattheatr.png
kitchen_sink/assets/kitten-1049129_1280.png
kitchen_sink/assets/kivymd.png
kitchen_sink/assets/Latte.jpg
kitchen_sink/assets/light-bulb-1042480_1280.png
kitchen_sink/assets/menu.png
kitchen_sink/assets/palette.png
kitchen_sink/assets/Pollywog.ttf
kitchen_sink/assets/presplash.png
kitchen_sink/assets/robin-944887_1280.png
kitchen_sink/assets/shadow.png
kitchen_sink/assets/tangerines-1111529_1280.png
kitchen_sink/assets/twitter-flat-round.png
kitchen_sink/assets/twitter-red.png
kitchen_sink/assets/twitter-round.png
kitchen_sink/assets/twitter.png
kitchen_sink/assets/ua_scroonge.ttf
kitchen_sink/assets/youtube-play.png
kitchen_sink/assets/usage/Components-Backdrop.txt
kitchen_sink/assets/usage/Components-Banner.txt
kitchen_sink/assets/usage/Components-Bottom-App-Bar.txt
kitchen_sink/assets/usage/Components-Bottom-Navigation.txt
kitchen_sink/assets/usage/Components-Bottom-Sheet.txt
kitchen_sink/assets/usage/Components-Button.txt
kitchen_sink/assets/usage/Components-Card.txt
kitchen_sink/assets/usage/Components-Chip.txt
kitchen_sink/assets/usage/Components-Data-Tables.txt
kitchen_sink/assets/usage/Components-Dialog.txt
kitchen_sink/assets/usage/Components-DropDownItem.txt
kitchen_sink/assets/usage/Components-Elevation.txt
kitchen_sink/assets/usage/Components-Expansion-Panel.txt
kitchen_sink/assets/usage/Components-File-Manager.txt
kitchen_sink/assets/usage/Components-Floating-Action-Speedial-Button.txt
kitchen_sink/assets/usage/Components-Icons.txt
kitchen_sink/assets/usage/Components-Image-List.txt
kitchen_sink/assets/usage/Components-Label.txt
kitchen_sink/assets/usage/Components-Lists.txt
kitchen_sink/assets/usage/Components-Menu.txt
kitchen_sink/assets/usage/Components-Navigation-Drawer.txt
kitchen_sink/assets/usage/Components-Navigation-Rail.txt
kitchen_sink/assets/usage/Components-Pickers.txt
kitchen_sink/assets/usage/Components-Progress-and-Activity.txt
kitchen_sink/assets/usage/Components-Progress-and-Slider.txt
kitchen_sink/assets/usage/Components-Refresh-Layout.txt
kitchen_sink/assets/usage/Components-Selection-Controls.txt
kitchen_sink/assets/usage/Components-Snackbar.txt
kitchen_sink/assets/usage/Components-Swiper.txt
kitchen_sink/assets/usage/Components-Tabs.txt
kitchen_sink/assets/usage/Components-TapTargetView.txt
kitchen_sink/assets/usage/Components-Text-Field.txt
kitchen_sink/assets/usage/Components-Theming-Colors.txt
kitchen_sink/assets/usage/Components-Toggle-Button.txt
kitchen_sink/assets/usage/Components-Toolbar.txt
kitchen_sink/assets/usage/Components-Tooltips.txt
kitchen_sink/libs/__init__.py
kitchen_sink/libs/baseclass/__init__.py
kitchen_sink/libs/baseclass/bottom_app_bar.py
kitchen_sink/libs/baseclass/bottom_sheet.py
kitchen_sink/libs/baseclass/cards.py
kitchen_sink/libs/baseclass/chips.py
kitchen_sink/libs/baseclass/data_tables.py
kitchen_sink/libs/baseclass/dialog_change_theme.py
kitchen_sink/libs/baseclass/dialogs.py
kitchen_sink/libs/baseclass/drop_item.py
kitchen_sink/libs/baseclass/elevation.py
kitchen_sink/libs/baseclass/expansion_panel.py
kitchen_sink/libs/baseclass/filemanager.py
kitchen_sink/libs/baseclass/grid.py
kitchen_sink/libs/baseclass/home.py
kitchen_sink/libs/baseclass/list_items.py
kitchen_sink/libs/baseclass/md_icons.py
kitchen_sink/libs/baseclass/menu.py
kitchen_sink/libs/baseclass/navigation_drawer.py
kitchen_sink/libs/baseclass/navigation_rail.py
kitchen_sink/libs/baseclass/pickers.py
kitchen_sink/libs/baseclass/refresh_layout.py
kitchen_sink/libs/baseclass/snackbar.py
kitchen_sink/libs/baseclass/stack_buttons.py
kitchen_sink/libs/baseclass/swiper.py
kitchen_sink/libs/baseclass/tabs.py
kitchen_sink/libs/baseclass/taptargetview.py
kitchen_sink/libs/baseclass/textfields.py
kitchen_sink/libs/baseclass/theming_colors.py
kitchen_sink/libs/baseclass/toggle_button.py
kitchen_sink/libs/baseclass/toolbar.py
kitchen_sink/libs/kv/banner.kv
kitchen_sink/libs/kv/bottom_app_bar.kv
kitchen_sink/libs/kv/bottom_navigation.kv
kitchen_sink/libs/kv/bottom_sheet.kv
kitchen_sink/libs/kv/buttons.kv
kitchen_sink/libs/kv/cards.kv
kitchen_sink/libs/kv/chips.kv
kitchen_sink/libs/kv/data_tables.kv
kitchen_sink/libs/kv/dialog_change_theme.kv
kitchen_sink/libs/kv/dialogs.kv
kitchen_sink/libs/kv/drop_item.kv
kitchen_sink/libs/kv/elevation.kv
kitchen_sink/libs/kv/expansion_panel.kv
kitchen_sink/libs/kv/file_manager.kv
kitchen_sink/libs/kv/grid.kv
kitchen_sink/libs/kv/labels.kv
kitchen_sink/libs/kv/list_items.kv
kitchen_sink/libs/kv/lists.kv
kitchen_sink/libs/kv/md_icon_item.kv
kitchen_sink/libs/kv/md_icons.kv
kitchen_sink/libs/kv/menu.kv
kitchen_sink/libs/kv/navigation_drawer.kv
kitchen_sink/libs/kv/navigation_rail.kv
kitchen_sink/libs/kv/pickers.kv
kitchen_sink/libs/kv/progress_bar.kv
kitchen_sink/libs/kv/progress.kv
kitchen_sink/libs/kv/refresh_layout.kv
kitchen_sink/libs/kv/selection_controls.kv
kitchen_sink/libs/kv/snackbar.kv
kitchen_sink/libs/kv/stack_buttons.kv
kitchen_sink/libs/kv/start_screen.kv
kitchen_sink/libs/kv/swiper.kv
kitchen_sink/libs/kv/tabs.kv
kitchen_sink/libs/kv/taptargetview.kv
kitchen_sink/libs/kv/textfields.kv
kitchen_sink/libs/kv/theming_colors.kv
kitchen_sink/libs/kv/toggle_button.kv
kitchen_sink/libs/kv/toolbars.kv
kitchen_sink/libs/kv/tooltips.kv
rally/main.py
rally/README.md
rally/.idea/modules.xml
rally/.idea/rally.iml
rally/assets/fonts/ECZAR_LICENCE
rally/assets/fonts/Eczar-Regular.ttf
rally/assets/fonts/Eczar-SemiBold.ttf
rally/assets/fonts/Roboto-Medium.ttf
rally/assets/fonts/ROBOTOCONDENSED_LICENSE
rally/assets/fonts/RobotoCondensed-Bold.ttf
rally/assets/fonts/RobotoCondensed-Light.ttf
rally/assets/fonts/RobotoCondensed-Regular.ttf
rally/assets/images/logo.png
rally/assets/images/presplash.png
rally/libs/__init__.py
rally/libs/baseclass/__init__.py
rally/libs/baseclass/accounts_screen.py
rally/libs/baseclass/bills_screen.py
rally/libs/baseclass/budgets_screen.py
rally/libs/baseclass/overview_screen.py
rally/libs/baseclass/pie_chart_line.py
rally/libs/baseclass/register_screen.py
rally/libs/baseclass/root_screen.py
rally/libs/baseclass/settings_screen.py
rally/libs/baseclass/tabnavigation.py
rally/libs/kv/accounts_screen.kv
rally/libs/kv/bills_screen.kv
rally/libs/kv/budgets_screen.kv
rally/libs/kv/overview_screen.kv
rally/libs/kv/pie_chart_line.kv
rally/libs/kv/register_screen.kv
rally/libs/kv/root_screen.kv
rally/libs/kv/settings_screen.kv
rally/libs/kv/tabnavigation.kv
rally/main.py
rally/README.md
rally/.idea/modules.xml
rally/.idea/rally.iml
rally/assets/fonts/ECZAR_LICENCE
rally/assets/fonts/Eczar-Regular.ttf
rally/assets/fonts/Eczar-SemiBold.ttf
rally/assets/fonts/Roboto-Medium.ttf
rally/assets/fonts/ROBOTOCONDENSED_LICENSE
rally/assets/fonts/RobotoCondensed-Bold.ttf
rally/assets/fonts/RobotoCondensed-Light.ttf
rally/assets/fonts/RobotoCondensed-Regular.ttf
rally/assets/images/logo.png
rally/assets/images/presplash.png
rally/libs/__init__.py
rally/libs/baseclass/__init__.py
rally/libs/baseclass/accounts_screen.py
rally/libs/baseclass/bills_screen.py
rally/libs/baseclass/budgets_screen.py
rally/libs/baseclass/overview_screen.py
rally/libs/baseclass/pie_chart_line.py
rally/libs/baseclass/register_screen.py
rally/libs/baseclass/root_screen.py
rally/libs/baseclass/settings_screen.py
rally/libs/baseclass/tabnavigation.py
rally/libs/kv/accounts_screen.kv
rally/libs/kv/bills_screen.kv
rally/libs/kv/budgets_screen.kv
rally/libs/kv/overview_screen.kv
rally/libs/kv/pie_chart_line.kv
rally/libs/kv/register_screen.kv
rally/libs/kv/root_screen.kv
rally/libs/kv/settings_screen.kv
rally/libs/kv/tabnavigation.kv
dump.py
main.py
theme.py
kivy_venv/bin/garden
kivy_venv/bin/garden.bat
kivy_venv/bin/normalizer
kivy_venv/bin/pygmentize
kivy_venv/bin/rst2html.py
kivy_venv/bin/rst2html4.py
kivy_venv/bin/rst2html5.py
kivy_venv/bin/rst2latex.py
kivy_venv/bin/rst2man.py
kivy_venv/bin/rst2odt_prepstyles.py
kivy_venv/bin/rst2odt.py
kivy_venv/bin/rst2pseudoxml.py
kivy_venv/bin/rst2s5.py
kivy_venv/bin/rst2xetex.py
kivy_venv/bin/rst2xml.py
kivy_venv/bin/rstpep2html.py
kivy_venv/share/kivy-examples/3Drendering/main.py
kivy_venv/share/kivy-examples/3Drendering/monkey.obj
kivy_venv/share/kivy-examples/3Drendering/objloader.py
kivy_venv/share/kivy-examples/3Drendering/simple.glsl
kivy_venv/share/kivy-examples/android/compass/android.txt
kivy_venv/share/kivy-examples/android/compass/compass.kv
kivy_venv/share/kivy-examples/android/compass/main.py
kivy_venv/share/kivy-examples/android/compass/needle.png
kivy_venv/share/kivy-examples/android/compass/rose.png
kivy_venv/share/kivy-examples/android/takepicture/android.txt
kivy_venv/share/kivy-examples/android/takepicture/main.py
kivy_venv/share/kivy-examples/android/takepicture/shadow32.png
kivy_venv/share/kivy-examples/android/takepicture/takepicture.kv
kivy_venv/share/kivy-examples/animation/animate.py
kivy_venv/share/kivy-examples/application/app_suite.py
kivy_venv/share/kivy-examples/application/app_with_build.py
kivy_venv/share/kivy-examples/application/app_with_config.py
kivy_venv/share/kivy-examples/application/app_with_kv_in_template1.py
kivy_venv/share/kivy-examples/application/app_with_kv.py
kivy_venv/share/kivy-examples/application/test.kv
kivy_venv/share/kivy-examples/application/testkvfile.kv
kivy_venv/share/kivy-examples/application/app_suite_data/testkvdir.kv
kivy_venv/share/kivy-examples/application/template1/test.kv
kivy_venv/share/kivy-examples/async/asyncio_advanced.py
kivy_venv/share/kivy-examples/async/asyncio_basic.py
kivy_venv/share/kivy-examples/async/trio_advanced.py
kivy_venv/share/kivy-examples/async/trio_basic.py
kivy_venv/share/kivy-examples/audio/12908_sweet_trip_mm_clap_hi.wav
kivy_venv/share/kivy-examples/audio/12909_sweet_trip_mm_clap_lo.wav
kivy_venv/share/kivy-examples/audio/12910_sweet_trip_mm_clap_mid.wav
kivy_venv/share/kivy-examples/audio/12911_sweet_trip_mm_hat_cl.wav
kivy_venv/share/kivy-examples/audio/12913_sweet_trip_mm_kick_hi.wav
kivy_venv/share/kivy-examples/audio/12914_sweet_trip_mm_kick_lo.wav
kivy_venv/share/kivy-examples/audio/12915_sweet_trip_mm_kick_mid.wav
kivy_venv/share/kivy-examples/audio/12916_sweet_trip_mm_kwik_mod_01.wav
kivy_venv/share/kivy-examples/audio/12917_sweet_trip_mm_kwik_mod_02.wav
kivy_venv/share/kivy-examples/audio/12918_sweet_trip_mm_kwik_mod_03.wav
kivy_venv/share/kivy-examples/audio/12919_sweet_trip_mm_kwik_mod_04.wav
kivy_venv/share/kivy-examples/audio/12920_sweet_trip_mm_kwik_mod_05.wav
kivy_venv/share/kivy-examples/audio/12921_sweet_trip_mm_kwik_mod_06.wav
kivy_venv/share/kivy-examples/audio/12922_sweet_trip_mm_kwik_mod_07.wav
kivy_venv/share/kivy-examples/audio/12923_sweet_trip_mm_metal_clave.wav
kivy_venv/share/kivy-examples/audio/12925_sweet_trip_mm_sweep_x.wav
kivy_venv/share/kivy-examples/audio/12926_sweet_trip_mm_sweep_y.wav
kivy_venv/share/kivy-examples/audio/12927_sweet_trip_mm_sweep_z.wav
kivy_venv/share/kivy-examples/audio/audio.kv
kivy_venv/share/kivy-examples/audio/main.py
kivy_venv/share/kivy-examples/audio/pitch.py
kivy_venv/share/kivy-examples/camera/main.py
kivy_venv/share/kivy-examples/canvas/bezier.py
kivy_venv/share/kivy-examples/canvas/canvas_stress.py
kivy_venv/share/kivy-examples/canvas/circle.py
kivy_venv/share/kivy-examples/canvas/fbo_canvas.py
kivy_venv/share/kivy-examples/canvas/kiwi.jpg
kivy_venv/share/kivy-examples/canvas/lines_extended.py
kivy_venv/share/kivy-examples/canvas/lines.py
kivy_venv/share/kivy-examples/canvas/mesh_manipulation.py
kivy_venv/share/kivy-examples/canvas/mesh.py
kivy_venv/share/kivy-examples/canvas/mtexture1.png
kivy_venv/share/kivy-examples/canvas/mtexture2.png
kivy_venv/share/kivy-examples/canvas/multitexture.py
kivy_venv/share/kivy-examples/canvas/repeat_texture.py
kivy_venv/share/kivy-examples/canvas/rotation.py
kivy_venv/share/kivy-examples/canvas/rounded_rectangle.py
kivy_venv/share/kivy-examples/canvas/scale.py
kivy_venv/share/kivy-examples/canvas/stencil_canvas.py
kivy_venv/share/kivy-examples/canvas/tesselate.py
kivy_venv/share/kivy-examples/canvas/texture_example_image.png
kivy_venv/share/kivy-examples/canvas/texture.py
kivy_venv/share/kivy-examples/container/main.py
kivy_venv/share/kivy-examples/container/kv/1.kv
kivy_venv/share/kivy-examples/container/kv/2.kv
kivy_venv/share/kivy-examples/container/kv/3.kv
kivy_venv/share/kivy-examples/container/kv/root.kv
kivy_venv/share/kivy-examples/cover/cover_image.py
kivy_venv/share/kivy-examples/cover/cover_video.py
kivy_venv/share/kivy-examples/demo/camera_puzzle.py
kivy_venv/share/kivy-examples/demo/kivycatalog/kivycatalog.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/main.py
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/AnchorLayoutContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/BoxLayoutContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/ButtonContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/CheckBoxContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/FileChooserContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/FloatLayoutContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/GridLayoutContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/LabelContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/MediaContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/PlaygroundContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/PopupContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/ProgressBarContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/RestContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/ScatterContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/SelectorsContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/StackLayoutContainer.kv
kivy_venv/share/kivy-examples/demo/kivycatalog/container_kvs/TextContainer.kv
kivy_venv/share/kivy-examples/demo/multistroke/gesturedatabase.kv
kivy_venv/share/kivy-examples/demo/multistroke/gesturedatabase.py
kivy_venv/share/kivy-examples/demo/multistroke/helpers.py
kivy_venv/share/kivy-examples/demo/multistroke/historymanager.kv
kivy_venv/share/kivy-examples/demo/multistroke/historymanager.py
kivy_venv/share/kivy-examples/demo/multistroke/main.py
kivy_venv/share/kivy-examples/demo/multistroke/multistroke.kv
kivy_venv/share/kivy-examples/demo/multistroke/settings.kv
kivy_venv/share/kivy-examples/demo/multistroke/settings.py
kivy_venv/share/kivy-examples/demo/pictures/android.txt
kivy_venv/share/kivy-examples/demo/pictures/main.py
kivy_venv/share/kivy-examples/demo/pictures/pictures.kv
kivy_venv/share/kivy-examples/demo/pictures/shadow32.png
kivy_venv/share/kivy-examples/demo/pictures/images/Bubbles.jpg
kivy_venv/share/kivy-examples/demo/pictures/images/faust_github.jpg
kivy_venv/share/kivy-examples/demo/pictures/images/Ill1.jpg
kivy_venv/share/kivy-examples/demo/pictures/images/Wall.jpg
kivy_venv/share/kivy-examples/demo/shadereditor/main.py
kivy_venv/share/kivy-examples/demo/shadereditor/shadereditor.kv
kivy_venv/share/kivy-examples/demo/showcase/android.txt
kivy_venv/share/kivy-examples/demo/showcase/main.py
kivy_venv/share/kivy-examples/demo/showcase/README.txt
kivy_venv/share/kivy-examples/demo/showcase/showcase.kv
kivy_venv/share/kivy-examples/demo/showcase/data/background.png
kivy_venv/share/kivy-examples/demo/showcase/data/faust_github.jpg
kivy_venv/share/kivy-examples/demo/showcase/data/icons/bug.png
kivy_venv/share/kivy-examples/demo/showcase/data/icons/chevron-left.png
kivy_venv/share/kivy-examples/demo/showcase/data/icons/chevron-right.png
kivy_venv/share/kivy-examples/demo/showcase/data/icons/README
kivy_venv/share/kivy-examples/demo/showcase/data/screens/accordions.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/bubbles.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/buttons.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/carousel.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/checkboxes.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/codeinput.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/dropdown.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/filechoosers.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/popups.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/progressbar.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/rstdocument.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/scatter.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/screenmanager.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/sliders.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/spinner.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/splitter.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/switches.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/tabbedpanel + layouts.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/textinputs.kv
kivy_venv/share/kivy-examples/demo/showcase/data/screens/togglebutton.kv
kivy_venv/share/kivy-examples/demo/touchtracer/android.txt
kivy_venv/share/kivy-examples/demo/touchtracer/icon.png
kivy_venv/share/kivy-examples/demo/touchtracer/main.py
kivy_venv/share/kivy-examples/demo/touchtracer/particle.png
kivy_venv/share/kivy-examples/demo/touchtracer/README.txt
kivy_venv/share/kivy-examples/demo/touchtracer/touchtracer.kv
kivy_venv/share/kivy-examples/frameworks/twisted/echo_client_app.py
kivy_venv/share/kivy-examples/frameworks/twisted/echo_server_app.py
kivy_venv/share/kivy-examples/frameworks/twisted/twistd_app.py
kivy_venv/share/kivy-examples/gestures/gesture_board.py
kivy_venv/share/kivy-examples/gestures/my_gestures.py
kivy_venv/share/kivy-examples/guide/designwithkv/controller.kv
kivy_venv/share/kivy-examples/guide/designwithkv/main.py
kivy_venv/share/kivy-examples/guide/firstwidget/1_skeleton.py
kivy_venv/share/kivy-examples/guide/firstwidget/2_print_touch.py
kivy_venv/share/kivy-examples/guide/firstwidget/3_draw_ellipse.py
kivy_venv/share/kivy-examples/guide/firstwidget/4_draw_line.py
kivy_venv/share/kivy-examples/guide/firstwidget/5_random_colors.py
kivy_venv/share/kivy-examples/guide/firstwidget/6_button.py
kivy_venv/share/kivy-examples/guide/quickstart/main.py
kivy_venv/share/kivy-examples/includes/button.kv
kivy_venv/share/kivy-examples/includes/layout.kv
kivy_venv/share/kivy-examples/includes/main.py
kivy_venv/share/kivy-examples/includes/test.kv
kivy_venv/share/kivy-examples/keyboard/android.txt
kivy_venv/share/kivy-examples/keyboard/main.py
kivy_venv/share/kivy-examples/keyboard/numeric.json
kivy_venv/share/kivy-examples/kinect/kinectviewer.py
kivy_venv/share/kivy-examples/kinect/README.txt
kivy_venv/share/kivy-examples/kv/app_button.kv
kivy_venv/share/kivy-examples/kv/app_camera.kv
kivy_venv/share/kivy-examples/kv/app_fbo.kv
kivy_venv/share/kivy-examples/kv/app_layout.kv
kivy_venv/share/kivy-examples/kv/app_logo.kv
kivy_venv/share/kivy-examples/kv/app_scatter.kv
kivy_venv/share/kivy-examples/kv/app_stencil.kv
kivy_venv/share/kivy-examples/kv/app_video.kv
kivy_venv/share/kivy-examples/kv/builder_template.py
kivy_venv/share/kivy-examples/kv/kivy.jpg
kivy_venv/share/kivy-examples/kv/kvrun.py
kivy_venv/share/kivy-examples/kv/ids/id_in_kv/id_in_kv.py
kivy_venv/share/kivy-examples/kv/ids/id_in_kv/test.kv
kivy_venv/share/kivy-examples/kv/ids/kv_and_py/kv_and_py.py
kivy_venv/share/kivy-examples/kv/ids/kv_and_py/test.kv
kivy_venv/share/kivy-examples/miscellaneous/clipboard.py
kivy_venv/share/kivy-examples/miscellaneous/custom_titlebar.py
kivy_venv/share/kivy-examples/miscellaneous/imagesave.py
kivy_venv/share/kivy-examples/miscellaneous/joystick.py
kivy_venv/share/kivy-examples/miscellaneous/multiple_dropfile.py
kivy_venv/share/kivy-examples/miscellaneous/on_textedit_event.py
kivy_venv/share/kivy-examples/miscellaneous/shapecollisions.py
kivy_venv/share/kivy-examples/miscellaneous/shapedwindow.py
kivy_venv/share/kivy-examples/miscellaneous/two_panes.py
kivy_venv/share/kivy-examples/miscellaneous/urlrequest.py
kivy_venv/share/kivy-examples/RST_Editor/editor.kv
kivy_venv/share/kivy-examples/RST_Editor/main.py
kivy_venv/share/kivy-examples/settings/android.txt
kivy_venv/share/kivy-examples/settings/main.py
kivy_venv/share/kivy-examples/shader/plasma.kv
kivy_venv/share/kivy-examples/shader/plasma.py
kivy_venv/share/kivy-examples/shader/rotated.kv
kivy_venv/share/kivy-examples/shader/rotated.py
kivy_venv/share/kivy-examples/shader/shadertree.kv
kivy_venv/share/kivy-examples/shader/shadertree.py
kivy_venv/share/kivy-examples/shader/tex3.jpg
kivy_venv/share/kivy-examples/svg/benchmark.py
kivy_venv/share/kivy-examples/svg/cloud.svg
kivy_venv/share/kivy-examples/svg/main-smaa.py
kivy_venv/share/kivy-examples/svg/main.py
kivy_venv/share/kivy-examples/svg/music.svg
kivy_venv/share/kivy-examples/svg/ship.svg
kivy_venv/share/kivy-examples/svg/sun.svg
kivy_venv/share/kivy-examples/svg/tiger.svg
kivy_venv/share/kivy-examples/text/pango_demo.py
kivy_venv/share/kivy-examples/tutorials/notes/final/main.py
kivy_venv/share/kivy-examples/tutorials/notes/final/note.kv
kivy_venv/share/kivy-examples/tutorials/notes/final/data/icon.png
kivy_venv/share/kivy-examples/tutorials/pong/main.py
kivy_venv/share/kivy-examples/tutorials/pong/pong.kv
kivy_venv/share/kivy-examples/tutorials/pong/steps/step1/main.py
kivy_venv/share/kivy-examples/tutorials/pong/steps/step1/pong.kv
kivy_venv/share/kivy-examples/tutorials/pong/steps/step2/main.py
kivy_venv/share/kivy-examples/tutorials/pong/steps/step2/pong.kv
kivy_venv/share/kivy-examples/tutorials/pong/steps/step3/main.py
kivy_venv/share/kivy-examples/tutorials/pong/steps/step3/pong.kv
kivy_venv/share/kivy-examples/tutorials/pong/steps/step4/main.py
kivy_venv/share/kivy-examples/tutorials/pong/steps/step4/pong.kv
kivy_venv/share/kivy-examples/tutorials/pong/steps/step5/main.py
kivy_venv/share/kivy-examples/tutorials/pong/steps/step5/pong.kv
kivy_venv/share/kivy-examples/widgets/accordion_1.py
kivy_venv/share/kivy-examples/widgets/actionbar.py
kivy_venv/share/kivy-examples/widgets/asyncimage.py
kivy_venv/share/kivy-examples/widgets/boxlayout_poshint.py
kivy_venv/share/kivy-examples/widgets/bubble_test.py
kivy_venv/share/kivy-examples/widgets/camera.py
kivy_venv/share/kivy-examples/widgets/carousel_buttons.py
kivy_venv/share/kivy-examples/widgets/cityCC0.mpg
kivy_venv/share/kivy-examples/widgets/cityCC0.png
kivy_venv/share/kivy-examples/widgets/codeinput.py
kivy_venv/share/kivy-examples/widgets/codeinputtest.kv
kivy_venv/share/kivy-examples/widgets/colorpicker.py
kivy_venv/share/kivy-examples/widgets/colorusage.py
kivy_venv/share/kivy-examples/widgets/compound_selection.py
kivy_venv/share/kivy-examples/widgets/customcollide.py
kivy_venv/share/kivy-examples/widgets/effectwidget.py
kivy_venv/share/kivy-examples/widgets/effectwidget2.py
kivy_venv/share/kivy-examples/widgets/effectwidget3_advanced.py
kivy_venv/share/kivy-examples/widgets/fbowidget.py
kivy_venv/share/kivy-examples/widgets/focus_behavior.py
kivy_venv/share/kivy-examples/widgets/image_mipmap.py
kivy_venv/share/kivy-examples/widgets/keyboardlistener.py
kivy_venv/share/kivy-examples/widgets/label_mipmap.py
kivy_venv/share/kivy-examples/widgets/label_sizing.py
kivy_venv/share/kivy-examples/widgets/label_text_size.py
kivy_venv/share/kivy-examples/widgets/label_with_markup.py
kivy_venv/share/kivy-examples/widgets/lang_dynamic_classes.py
kivy_venv/share/kivy-examples/widgets/pagelayout.py
kivy_venv/share/kivy-examples/widgets/popup_with_kv.py
kivy_venv/share/kivy-examples/widgets/rstexample.py
kivy_venv/share/kivy-examples/widgets/scatter.kv
kivy_venv/share/kivy-examples/widgets/scatter.py
kivy_venv/share/kivy-examples/widgets/screenmanager.py
kivy_venv/share/kivy-examples/widgets/scrollview.kv
kivy_venv/share/kivy-examples/widgets/scrollview.py
kivy_venv/share/kivy-examples/widgets/settings.py
kivy_venv/share/kivy-examples/widgets/shorten_text.py
kivy_venv/share/kivy-examples/widgets/spinner.py
kivy_venv/share/kivy-examples/widgets/splitter.py
kivy_venv/share/kivy-examples/widgets/tabbed_panel_showcase.py
kivy_venv/share/kivy-examples/widgets/tabbedpanel.py
kivy_venv/share/kivy-examples/widgets/textalign.kv
kivy_venv/share/kivy-examples/widgets/textalign.py
kivy_venv/share/kivy-examples/widgets/textinput.py
kivy_venv/share/kivy-examples/widgets/unicode_textinput.py
kivy_venv/share/kivy-examples/widgets/videoplayer.py
kivy_venv/share/kivy-examples/widgets/recycleview/basic_data.py
kivy_venv/share/kivy-examples/widgets/recycleview/infinite_scrolling.py
kivy_venv/share/kivy-examples/widgets/recycleview/key_viewclass.py
kivy_venv/share/kivy-examples/widgets/recycleview/messenger.py
kivy_venv/share/kivy-examples/widgets/recycleview/pull_to_refresh.py
kivy_venv/share/kivy-examples/widgets/recycleview/rv_animate_items.py
kivy_venv/share/kivy-examples/widgets/sequenced_images/android.txt
kivy_venv/share/kivy-examples/widgets/sequenced_images/main.kv
kivy_venv/share/kivy-examples/widgets/sequenced_images/main.py
kivy_venv/share/kivy-examples/widgets/sequenced_images/data/images/bird.zip
kivy_venv/share/kivy-examples/widgets/sequenced_images/data/images/button_white_animated.zip
kivy_venv/share/kivy-examples/widgets/sequenced_images/data/images/button_white.png
kivy_venv/share/kivy-examples/widgets/sequenced_images/data/images/cube.zip
kivy_venv/share/kivy-examples/widgets/sequenced_images/data/images/info.png
kivy_venv/share/kivy-examples/widgets/sequenced_images/data/images/info.zip
kivy_venv/share/kivy-examples/widgets/sequenced_images/data/images/simple_cv_joint_animated.gif
kivy_venv/share/kivy-examples/widgets/sequenced_images/uix/__init__.py
kivy_venv/share/kivy-examples/widgets/sequenced_images/uix/custom_button.py
akivymd
secret_of_api_outh.txt
